{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Всички обяви{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="#" method="get" style="text-align: center; padding-bottom: 40px">

            <h4>Може да разгледате всичките ни обяви или да потърсите имот по желани от Вас критерии.</h4>
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-secondary">Филтрирай</button>
            <a href="{% url 'all aparts' %}" class="btn btn-primary">Изчисти филтъра</a>

        </form>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for apart in aparts %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ apart.image.url }}" class="card-img-top" alt="....">
                        <div class="card-body">
                            <h6 class="card-title"> Тип: {{ apart.type }}</h6>
                            <h6 class="card-title"> Град: {{ apart.town }}</h6>
                            <h6 class="card-title"> Цена: {{ apart.price_offer }} EUR</h6>
                            <h6 class="card-title"> РЗП: {{ apart.total_area }} m2</h6>
                            <h6 class="card-title"> Конструкция: {{ apart.construction }}</h6>
                            <h6 class="card-title"> Година на построяване: {{ apart.construction_year }} год.</h6>
                            <a href="{% url 'apart details' apart.id %}" class="btn btn-lg btn-secondary">Детайли</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if aparts.has_other_pages %}
        <nav aria-label="Page navigation conatiner">
            <ul class="pagination justify-content-center">
                {% if aparts.has_previous %}
                    <li><a href="?page={{ aparts.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if aparts.has_next %}
                    <li><a href="?page={{ aparts.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}