{% extends 'shared/base_tamplete.html' %}
{% load my_tags %}
{% block head_title %}Всички обяви{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/home_page_picture_changed3.jpg');
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="#" method="get" style="text-align: center; padding-bottom: 40px">
            <h4>Може да разгледате всичките ни обяви или да потърсите имот по желани от Вас критерии.</h4>
            {{ form.as_p }}
            <button type="submit" class="btn btn btn-success">Филтрирай</button>
            <a href="{% url 'all aparts' %}" class="btn btn-primary">Изчисти филтъра</a>
        </form>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% if aparts %}
                {% for apart in aparts %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ apart.image.url }}" class="card-img-top" alt="....">
                            <div class="card-body">
                                <h6 class="card-title"> Тип: {{ apart.type }}</h6>
                                <h6 class="card-title"> Град: {{ apart.town }}</h6>
                                <h6 class="card-title"> Цена: {{ apart.price_offer }} EUR</h6>
                                <h6 class="card-title"> РЗП: {{ apart.total_area }} m2</h6>
                                <h6 class="card-title"> Конструкция: {{ apart.construction }}</h6>
                                <h6 class="card-title"> Година на построяване: {{ apart.construction_year }} год.</h6>
                                <a href="{% url 'apart details' apart.id %}"
                                   class="btn btn-lg btn-secondary">Детайли</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12" style="text-align: center; font-size: 20px; font-style: italic; color: orangered">
                    {{ message }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="" style="text-align: center; padding-top: 30px; font-size: 15px;">
        {% if aparts.has_previous %}
            <a href="?{% param_replace page=1 %}">Първа</a>
            {% if aparts.previous_page_number != 1 %}
                <a href="?{% param_replace page=aparts.previous_page_number %}">Предходна</a>
            {% endif %}
        {% endif %}

        Страница {{ aparts.number }} от {{ paginator.num_pages }}

        {% if aparts.has_next %}
            {% if aparts.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=aparts.next_page_number %}">Следваща</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">Последна</a>
        {% endif %}

        <p>Брой обекти {{ aparts.start_index }}—{{ aparts.end_index }}</p>
    </div>
{% endblock %}