{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Детайли за обява {{ apart.pk }}{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ apart.image.url }}" class="w-100 rounded mx-auto d-block">
            </div>
            <div class="d-inline p-2 w-10">
                <div class="d-flex justify-content-between">
                    <ul>
                        <h5>Код на обявата: {{ apart.pk }}</h5>
                    </ul>
                </div>
                <ul>
                    <li><b>Тип:</b> {{ apart.type }}</li>
                    <li><b>Град:</b> {{ apart.town }}</li>
                    <li><b>Застроена площ:</b> {{ apart.pure_area }} кв.м.</li>
                    <li><b>РЗП:</b> {{ apart.total_area }} кв.м.</li>
                    <li><b>Конструкция:</b> {{ apart.construction }}</li>
                    <li><b>Година на построяване:</b> {{ apart.construction_year }} год.</li>
                    <li><b>Обзавеждане:</b> {{ apart.furnishing }}</li>
                    <li><b>Довършителни работи:</b> {{ apart.finishing_works }}</li>
                    <li><b>Вид сделка:</b> {{ apart.deal }}</li>
                    <li><b>Статус:</b> {{ apart.status }}</li>

                </ul>
                <p><b>Описание:</b> <br>{{ apart.description }}</p>
                <p><b>Телефон за контакт:</b><br>{{ apart.contact_phone }}</p>

                {% if is_user %}
                    <div>
                        <a href="{% url 'edit' apart.id %}" class="btn btn-success">Редактирай</a>
                        <a href="{% url 'delete' apart.id %}" class="btn btn-danger">Изтрий</a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}