{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Редактиране на обява{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}

    <h1 class="display-6 text-center">Моля, попълнете формата!</h1>
    <div class="container"
         style="background-image: url('/static/images/home_page_picture_changed.jpg'); margin-bottom: 10px; padding-left: 300px; padding-right: 300px">
        <form method="post" action="{% url 'edit' apart.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}{{ field }}{{ field.errors }}
            {% endfor %}
            <div style="margin-top:10px; padding-bottom: 10px; text-align: center">
                <button type="submit" class="btn btn-lg btn-success">Редактирай</button>
                <a class="btn btn-primary" href="{% url 'apart details' apart.id %}">Откажи</a>
            </div>
        </form>
    </div>
{% endblock %}