{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Запитвания{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <form action="#" method="get" style="text-align: center; padding-bottom: 40px">
        <h4>Филтър по зададени критерии</h4>
        {{ form.as_p }}
        <button type="submit" class="btn btn-lg btn-secondary">Филтрирай</button>
        <a href="{% url 'all inquiries' %}" class="btn btn-primary">Изчисти филтъра</a>
    </form>
    <h2 class='text-center'>Получени запитвания</h2>
    {% for inquiry in inquiries %}
        <div class="container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            № {{ inquiry.id }}, Категория: {{ inquiry.category }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <ul>
                                <li><b>Получено на:</b> {{ inquiry.date }}</li>
                                <li><b>Изпратил:</b> {{ inquiry.first_name }} {{ inquiry.last_name }}</li>
                                <li><b>Описание на запитването:</b> {{ inquiry.text }}</li>
                                <li><b>Телефон за обратна връзка:</b> {{ inquiry.phone }}</li>
                                <li><b>e-mail:</b> {{ inquiry.email }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#                <div class="container" style="background-color: whitesmoke; margin-bottom: 10px">#}
{#                    <h5 class='text-left'><b>{{ inquiry.category }}</b></h5>#}
{#                    <ul>#}
{#                        <li><b>Получено на:</b> {{ inquiry.date }}</li>#}
{#                        <li><b>Изпратил:</b> {{ inquiry.first_name }} {{ inquiry.last_name }}</li>#}
{#                        <li><b>Описание на запитването:</b> {{ inquiry.text }}</li>#}
{#                        <li><b>Телефон за обратна връзка:</b> {{ inquiry.phone }}</li>#}
{#                        <li><b>e-mail:</b> {{ inquiry.email }}</li>#}
{#                    </ul>#}
{#                </div>#}
    {% endfor %}

{% endblock %}