{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Запитвания{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class='text-center'>Получени запитвания</h2>
    {% for inquiry in inquiries %}
        <div class="container" style="background-color: whitesmoke; margin-bottom: 10px">
            <div>
                <h5 class='text-left'>{{ inquiry.category }}</h5>
            </div>
            <div>
                <label>Изпратено на:</label>
                {{ inquiry.date }}
            </div>
            <div>
                <label>Изпратил:</label>
                {{ inquiry.first_name }} {{ inquiry.last_name }}
            </div>
            <div>
                {{ inquiry.text }}
            </div>
            <div>
                <div>тел: {{ inquiry.phone }}</div>
                <div>e-mail: {{ inquiry.email }}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}