{% extends 'shared/base_tamplete.html' %}
{% load my_tags %}

{% block head_title %}Запитвания{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <form action="#" method="get" style="text-align: center; padding-bottom: 40px">
        <h4>Филтър по зададени критерии</h4>
        {{ form.as_p }}
        <button type="submit" class="btn btn btn-secondary">Филтрирай</button>
        <a href="{% url 'all inquiries' %}" class="btn btn-primary">Изчисти филтъра</a>
    </form>
    <h2 class='text-center'>Получени запитвания</h2>
    {% for inquiry in inquiries %}
        <div class="container">
            <div class="card" style="margin-bottom: 10px">
                <div class="card-header" style="background-color: #2d547a; color: white">
                    № {{ inquiry.id }}, <b>Категория:</b> {{ inquiry.category }}
                </div>
                <div class="card-body" style="background-color: whitesmoke">
                    <h6 class="card-title">Изпратил: {{ inquiry.first_name }} {{ inquiry.last_name }}</h6>
                    <p class="card-text">
                    <ul>
                        <li><b>Получено на:</b> {{ inquiry.date }}</li>
                        <li><b>Описание на запитването:</b> {{ inquiry.text }}</li>
                        <li><b>Телефон за обратна връзка:</b> {{ inquiry.phone }}</li>
                        <li><b>e-mail:</b> {{ inquiry.email }}</li>
                    </ul>
                    </p>

                </div>
            </div>
        </div>
    {% endfor %}
 <div class="" style="text-align: center; padding-top: 30px; font-size: 15px;">
        {% if inquiries.has_previous %}
            <a href="?{% param_replace page=1 %}">Първа</a>
            {% if inquiries.previous_page_number != 1 %}
                <a href="?{% param_replace page=inquiries.previous_page_number %}">Предходна</a>
            {% endif %}
        {% endif %}

        Страница {{ inquiries.number }} от {{ paginator.num_pages }}

        {% if inquiries.has_next %}
            {% if inquiries.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=inquiries.next_page_number %}">Следваща</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">Последна</a>
        {% endif %}

        <p>Брой обекти {{ inquiries.start_index }}—{{ inquiries.end_index }}</p>
    </div>
{% endblock %}