{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Запитване{% endblock %}


{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <h3 class="display-6 text-center">Моля, попълнете формата!</h3>
    <div class="container"
         style="background-image: url('/static/images/home_page_picture_changed.jpg'); margin-bottom: 10px">
        <form method="post" class="m-auto w-25">
            {% csrf_token %}

            {% for field in form %}
                {{ field.label }}{{ field }}{{ field.errors }}
            {% endfor %}
        
            <div style="margin-top:10px; padding-bottom: 10px; text-align: center">
                <button type="submit" class="btn btn-lg btn-success">Изпрати</button>
                <a class="btn btn-primary" href="{% url 'home page' %}">Откажи</a>
            </div>
        </form>
    </div>
{% endblock %}

