
{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Пазарна информация{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 10px; text-align: center; padding-top:50px;padding-bottom: 50px;">
        <h2>Благодарим за направеното запитване!</h2>
        <h3>Наш представител ще се свърже с вас в рамките на 24 часа.</h3>
        <h4>Оставаме на разположение при възникнали въпроси от Ваша страна.</h4>
    </div>
{% endblock %}