{% extends 'shared/base_tamplete.html' %}
{% load my_tags %}

{% block head_title %}Пазарна информация{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/home_page_picture_changed3.jpg')
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class='text-center'>Пазарна информация</h2>
    <div class="container">
        <form action="#" method="get" style="text-align: center; padding-bottom: 40px">
            <h4>Може да разгледате всичките ни публикации или да потърсите такава по ключова дума.</h4>
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-success">Филтрирай</button>
            <a href="{% url 'all market info' %}" class="btn btn-primary">Изчисти филтъра</a>
        </form>
        {% if request.user.is_superuser %}
            <div style="padding-bottom: 10px">
                <a href="{% url 'create market info' %}" class="btn btn-primary">Качи нова статия</a>
            </div>
        {% endif %}
    </div>
    {% if infos %}
        {% for info in infos %}
            <div class="container">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-header" style="background-color: #2d547a; color: white">
                        {{ info.title }}, {{ info.published_date }}
                    </div>
                    <div class="card-body" style="background-color: whitesmoke">
                        <h6 class="card-title">{{ info.source }}</h6>
                        <p class="card-text">{{ info.text }}<br><a href="{{ info.source_url }}" style="color:blue">Линк
                            към
                            цялата статия</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-12" style="text-align: center; font-size: 20px; font-style: italic; color: orangered">
            {{ message }}
        </div>
    {% endif %}
     <div class="" style="text-align: center; padding-top: 30px; font-size: 15px;">
        {% if infos.has_previous %}
            <a href="?{% param_replace page=1 %}">Първа</a>
            {% if infos.previous_page_number != 1 %}
                <a href="?{% param_replace page=infos.previous_page_number %}">Предходна</a>
            {% endif %}
        {% endif %}

        Страница {{ infos.number }} от {{ paginator.num_pages }}

        {% if infos.has_next %}
            {% if infos.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=infos.next_page_number %}">Следваща</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">Последна</a>
        {% endif %}

        <p>Брой обекти {{ infos.start_index }}—{{ infos.end_index }}</p>
    </div>
{% endblock %}

