{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Пазарна информация{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class='text-center'>Пазарна информация</h2>
    <div class="container">
        <form action="#" method="get" style="text-align: center; padding-bottom: 40px">
            <h4>Може да разгледате всичките ни публикации или да потърсите такава по ключова дума.</h4>
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-secondary">Филтрирай</button>
            <a href="{% url 'all market info' %}" class="btn btn-primary">Изчисти филтъра</a>
        </form>
        {% if request.user.is_superuser %}
            <div style="padding-bottom: 10px">
                <a href="{% url 'create market info' %}" class="btn btn-primary">Качи нова статия</a>
            </div>
        {% endif %}
    </div>
    {% for info in infos %}
        <div class="container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            {{ info.title }}, {{ info.published_date }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <strong>Източник: {{ info.source }}</strong>
                            <br>{{ info.text }}<br>
                            <a href="{{ info.source_url }}" style="color:blue">Линк към цялата статия</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}