{% extends 'shared/base_tamplete.html' %}

{% block head_title %}Изтриване на {{ request.user }}{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 10px; text-align: center; padding-top:50px;padding-bottom: 50px;">
        <h3>При изтриване на профила, всяка публикувана от Вас информация ще бъде изтрита.</h3>
        <h1>Сигурни ли сте, че искате да изтриете профила си?</h1>
        <div class="m-auto d-flex justify-content-center">
            <form action="{% url 'delete user' %}" method="post">
                {% csrf_token %}
                <br>
                <div class="buttons">
                    <button type="submit" class="btn btn-danger">Потвърди</button>
                    <a class="btn btn-primary" href="{% url 'profile details' %}">Откажи</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}