{% extends 'shared/base_tamplete.html' %}


{% block head_title %} Редактиране на {{ request.user }}{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
    <h3 class="text-center">Моля, направете желаните корекции и ги потвърдете!</h3>
    <form method="post" class="m-auto w-25" action="{% url 'edit profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.as_p }}

        {#        <label for="id_first_name">Име</label>#}
        {#        {{ form.first_name }}#}
        {##}
        {#        <label for="id_last_name">Фамилия</label>#}
        {#        {{ form.last_name }}#}
        {##}
        {#        <label for="id_phone_number">Телефон за контакт</label>#}
        {#        {{ form.phone_number }}#}
        {##}
        {#        <label for="id_profile_image">Профилна снимка</label>#}
        {#        {{ form.profile_image }}#}

        <div style="margin-top: 10px;">
            <button class="btn btn-success">Обнови</button>
            <a class="btn btn-primary" href="{% url 'profile details' %}">Откажи</a>
        </div>
    </form>

{% endblock %}