{% extends 'shared/base_tamplete.html' %}
{% load static %}
{% block head_title %}Профил{% endblock %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/home_page_picture_changed3.jpg')
        }
    </style>

{% endblock %}

{% block content %}
    <div class="text-lg-center">
        <h2>Здравейте, {{ profile.first_name }}!</h2>
        {% if profile.profile_image %}
            <img class="mb-3" src="{{ profile.profile_image.url }}" alt="" width="140" height="140">
        {% else %}
            <img class="mb-3" src="{% static 'images/profile_anonimous.webp' %}" alt="" width="140" height="140">
        {% endif %}
        <h6>Това е Вашият профил. В него може да видите всички публикувани от вас обяви. <br>Тяхното съдържание може
            да бъде редактирано или изтривано само от Вас. <br>Ако желаете, може да допълните информацията за Вас,
            подадена при регистрация.</h6>
        <div>
            <a href="{% url 'edit profile' %}" class="btn btn-primary">Завърши / редактирай профила си</a>
            <a href="{% url 'delete user' %}" class="btn btn-danger">Изтрий профила си</a>
        </div>
    </div>

    {% if aparts %}
        <div class="container" style="margin-top:20px">
            <h3 class='text-center'>Вашите публикувани обяви</h3>
            <div class="row row-cols-1 row-cols-md-5 g-4">
                {% for apart in aparts %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ apart.image.url }}" class="card-img-top" alt="....">
                            <div class="card-body">
                                <h6 class="card-title"> Тип: {{ apart.type }}</h6>
                                <h6 class="card-title"> Град: {{ apart.town }}</h6>
                                <h6 class="card-title"> Цена: {{ apart.price_offer }} EUR</h6>
                                <h6 class="card-title"> РЗП: {{ apart.total_area }} m2</h6>
                                <h6 class="card-title"> Конструкция: {{ apart.construction }}</h6>
                                <h6 class="card-title"> Година на построяване: {{ apart.construction_year }} год.</h6>
                                <a href="{% url 'apart details' apart.id %}"
                                   class="btn btn-lg btn-secondary">Детайли</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if aparts.has_other_pages %}
            <nav aria-label="Page navigation conatiner" style="padding-top: 20px">
                <ul class="pagination justify-content-center">
                    {% if aparts.has_previous %}
                        <li><a href="?page={{ aparts.previous_page_number }}" class="page-link">&laquo; Предишна
                            страница </a></li>
                    {% endif %}
                    {% if aparts.has_next %}
                        <li><a href="?page={{ aparts.next_page_number }}" class="page-link"> Следваща страница
                            &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <div class="text-center">
            <h2>Нямате публикувани обяви</h2>
            <a href="{% url 'create' %}" class="btn btn-success">Добави обява</a>
        </div>
    {% endif %}
{% endblock %}