{% extends 'shared/base_tamplete.html' %}

{% block styles %}
    <style>
        body {
            background-image: url('/static/images/double-bubble-outline.png')
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid" style="background-image: none;">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
          <form style="background-color: whitesmoke; border: 1px solid grey; margin: 10% 0%; padding: 10% 5%" method="post">
            <h2>Sign up</h2>
            {% csrf_token %}
              {{ form }}
            <button class="btn btn-primary" type="submit">Sign up</button><br>
            <span>Have an account?<a href="{% url 'log in user' %}" style="color:orange">Sign in here</a></span>
          </form>
    </div>
    <div class="col-lg-3"></div>
        </div>
</div>
{% endblock %}